<div class="nav row mb-3">

    {{#unless splash}}
    <nav class="navbar col head-color">
    {{/unless}}
    {{#if splash}}
    <nav class="navbar col head-color splash-head">
    {{/if}}
        <span class="nav-link navbar-brand mx-auto" href="#">
            <h1 class="noselect ml-5">Art Bud</h1>
        </span>
        <span class="nav-item dropdown">
                {{!-- if logged out
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i><i class="far fa-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/signup">Signup</a>
                <a class="dropdown-item loginBtn" href="#">Signup</a>
            </div>
                    --}}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-3x brand-color"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="user-dropdown">
                <a class="dropdown-item" href="#" id="userProfile">User Profile</a>
                <a class="dropdown-item" href="#" id="logout">Logout</a>
            </div>
        </span>
    </nav>
</div>