<div class="row mb-3">
    {{#unless splash}}
    <div class="col head-color">
    {{/unless}}
    {{#if splash}}
    <div class="col head-color splash-head">
    {{/if}}
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <li class="nav-link" href="#">
                    Art Bud
                </li>
            </li>
        </ul>
    </div>
</div>