<div class="container-fluid">
    <div class="main">
        {{> header splash=true}}

    <div>
        <div class="row mt-5" id="galleryContainer">
            
        </div>

    </div>
    </div>
</div>
<script src="/js/gallery.js"></script>