<div class="container-fluid bg-dark">
    <div class="main">
        {{> header splash=false}}
        <div class="row" id="userRow" data-user="{{userId}}">
        </div>
        <div>
            <a href="/gallery" id="gallery"><button class="btn btn-dark">Return to the Gallery</button></a>
        </div>
        <div class="row my-3 mx-3">
            <div class="col-12">
                <h2 class="heading">Your Pieces</h2>
            </div>
            <hr class="my-2">
            {{!-- block which will need to be populated with a {#each art}. Need to determine how to wrap a row around every 3 --}}
            <div class="row" id="artContainer">
            </div>
        </div>
        {{!-- Comments section --}}
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h2 class="heading">Your Comments</h2>
            </div>
            {{!-- block which will need to be populated with a {#each comment}. --}}
            <div class="container">

            <div class="row w-80" >
                <div class="col-12 mb-5">
                <ul class="list-group ml-5" id="commentContainer">

                </ul>


                </div>
            </div>
            </div>
        </div>
    </div>

    {{!-- user image upload form --}}
    <footer class="footer">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#uploadFormContainer" aria-expanded="false" aria-controls="uploadFormContainer">Upload new art here</button>
    <div class="collapse expandFooter text-center" id="uploadFormContainer">
        <div class="card card-body styler container">
            <form class="container" action="" id="imageUpload">
                <div class="form-group text-left">
                    <label for="artName">Enter a Title for your Art Piece.</label>
                    <input type="text" class="form-control" id="artName" placeholder="Title Here">
                </div>
                <br>
                <div class="form-group text-center">
                    <label for="imgUpload"><i class="far fa-image fa-3x"></i> <br><br>Select File to Upload  </label>
                    <input type="file" style="display:none" class="form-control-file" id="imgUpload">
                    
                </div>
                <button class="btn btn-secondary" type="submit" form="imageUpload">Submit image</button>
            </form>
            <br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    </footer>

</div>

<script src="/js/user.js"></script>
