<div class="container-fluid">
    <div class="main">
        {{> header splash=false}}
        <div class="row" id="userRow" data-user="{{userId}}">
            <h1>Welcome back, <span id="name"></span>.</h1>
        </div>
        <div class="row my-3 mx-3">
            <div class="col-12">
                <p>Your Pieces</p>
            </div>
            <hr class="my-2">
            {{!-- block which will need to be populated with a {#each art}. Need to determine how to wrap a row around every 3 --}}
            <div class="row" id="artContainer">
            </div>
        </div>
        {{!-- Comments section --}}
        <div class="row mt-5">
            <div class="col-12">
                <p>Your Comments</p>
            </div>
            <hr class="my-2">
            {{!-- block which will need to be populated with a {#each comment}. --}}
            <div class="row" id="commentContainer">


                <div class="col-12">
                </div>
            </div>
        </div>
    </div>

    {{!-- user image upload form --}}
    <footer class="footer mt-auto">
    <button class="btn btn-primary text-center" type="button" data-toggle="collapse" data-target="#uploadFormContainer" aria-expanded="false" aria-controls="uploadFormContainer">Upload new art here</button>
    <div class="collapse expandFooter" id="uploadFormContainer">
        <div class="card card-body">
            <form action="POST" id="imageUpload">
                
                <input type="file" id="imgUpload">
                <button type="submit" form="imageUpload">Submit image</button>
            </form>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
    </footer>

</div>

<script src="/js/user.js"></script>
