<div class="container-fluid">
    <div class="main">
        {{> header splash=true}}
        <div class="row" id="artContainer" data-id="{{ artId }}"> <!-- Image area -->

                <p>{{ art_name }}</p>
                <p>{{ UserId }}</p>
            </div>
        </div>
         <div class="row" id="commentContainer"> <!-- Comments area -->
           
        </div>
    </div>
</div>


<script src="/js/viewart.js"></script>
