html, body {
  height: 100%;
  /* overflow: hidden; */
}

.container-fluid {
  min-height: 100%;
  width: 100%;
  /* overflow-y: scroll; */
  padding-right: 0px;
}

.row {
  margin-right: 0px !important;
}

.navbar-brand {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold;
  color: #97ABB1;
  opacity: 1;
 }

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: inherit;
  font-size: 3.5rem;
}

/* prevent text selection */
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
        -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
            opacity: 1;
}

.brand-color {
  color: #97ABB1;
}

.bg-dark{
  background-color: #6f7479 !important;
}

.label {
  border: 0.5rem solid #705846;
  font-family: 'Merriweather', serif;
  font-style: italic;
}

.heading {
  font-family: 'Merriweather', serif;
}

/* hide user dropdown carrat */
.dropdown-toggle::after {
  display: none;
}

/* show full dropdown on screen */
#user-dropdown {
  left: -4.4rem;
}

.comment-highlight {
  background-color: #97ABB1;
}

.galleryBody {
  background-image: url('../img/Museum.jpeg');
  background-size: auto;
  background-position: center;
}

.list-group-item {
  line-height: 2.5;
}

.expand-footer {
  position: fixed;
  bottom:0;
  width: 80%;
  text-align: center;
}

.frame {
  background-image: url('../img/frame.png');
  background-position: center;
  background-size:100% 100%;
}

.head-color {
  background-color: #966515;
}

.splash-head{
  opacity: 0.8;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.pageExtend{
  margin-bottom: -20px;
}

.styler{
  background-color: rgb(161, 166, 172);
}

.vanta-canvas{
  min-height: 100% !important;
  height: 100%;
}

.art {
  padding: 5%;
  /* background-color: whitesmoke; */

}

.artBackground {
  background-color: whitesmoke;
  margin: 15%;
}

.btn-primary{
  background-color: #97ABB1 !important;
  border-color: rgb(180, 202, 209) !important;
}